<p>Nossas Lojas
    AMERICANA
    Jardim São Paulo
    19 3461-4121 (Delivery)
    19 99761-4121
    
    Rua das Paineiras, 78 – Jd. São Paulo
    
    Americana – SP
    
     
    
    De Segunda a Sábado das 08:00 às 18:00.
    
    Domingo das 11:00 às 17:00.
    
    BARUERI
    Parque Shopping Barueri
    11 91373-1297
    
    Rua Gen. de Divisão Pedro Rodrigues da Silva, 400
    
    Barueri – SP
    
     
    
    De Segunda a Sábado das 10:00 às 22:00
    
    Domingo das 11:00 às 20:00
    
    BARUERI
    Tamboré
    11 91373-1297
    
    Av. Piracema, 669 – Shopping Tamboré
    
    Barueri – SP
    
     
    
    De Segunda a Sábado das 10:00 às 22:00
    
    Domingo das 10:00 às 20:00
    
    CAMPINAS
    AlphaMall
    19 3262-0706
    19 99862-0706
    
    Rua Tapuru, 25 – Loja 22, Lot. Alphaville
    
    Campinas – SP
    
     
    
    De Segunda a Sexta das 08:00 às 18:30.
    
    Sábado das 09:00 às 17:00.
    
    Domingo das 10:00 às 17:00
    
    CAMPINAS
    Cambuí
    19 3368-6460 (Delivery)
    19 99238-0481
    
    Rua Maria Monteiro, 922
    
    Campinas – SP
    
     
    
    De Segunda a Sexta das 08:30 às 18:30.
    
    Sábado das 08:30 às 18:30.
    
    CAMPINAS
    Campinas Shopping
    19 99205-9494
    
    Rua Jacy Teixeira Camargo, 940
    
    Campinas – SP
    
     
    
    De Segunda a Sábado das 10:00 às 22:00.
    
    Domingo das 12:00 às 20:00.
    
    CAMPINAS
    Castelo
    19 3395-7660
    19 98290-0125
    
    Av. Francisco José de Camargo Andrade, 165
    
    Jardim Chapadão – Campinas – SP
    
     
    
    De Segunda a Sexta das 08:00 às 18:30.
    
    Sábado das 08:00 às 18:30.
    
    Domingo das 09:00 às 17:00.
    
    CAMPINAS
    Galleria Shopping
    19 99395-2442
    
    Av. Bailarina Selma Parada – Piso Inferior
    
    Campinas – SP
    
     
    
    De Segunda a Sábado das 10:00 às 22:00.
    
    Domingo das 12:00 às 20:00.
    
    CAMPINAS
    Guanabara
    19 3212-1766 (delivery)
    19 98130-6460
    
    Av. Barão de Itapura, 2182
    
    Campinas – SP
    
     
    
    De Segunda a Sexta das 08:00 às 20:00.
    
    Sábado das 09:00 às 17:00.
    
    Domingo das 09:30 às 14:00.
    
    CAMPINAS
    Nova Campinas
    19 3294-4474
    19 99994-6411
    
    Av. Dr. Jesuíno Marcondes Machado, 914
    
    Casa Jesuíno – Sala 1
    
    Campinas – SP
    
     
    
    De Segunda a Sexta das 08:00 às 18:30.
    
    Sábado das 09:00 às 18:00.
    
    Domingo das 10:00 às 18:00.
    
    CAMPINAS
    Parque Prado
    19 99644-8651
    
    Av. Baden Powell, 1929 – Loja 05
    
    Campinas – SP
    
     
    
    De Segunda a Sábado das 09:00 às 21:00.
    
    Domingo das 09:00 às 17:00.
    
    CAMPINAS
    Shopping Parque das Bandeiras
    19 99572-1212
    
    Av. John Boyd Dunlop, 3900
    
    Campinas – SP
    
     
    
    De Segunda a Sábado das 10:00 às 22:00.
    
    Domingo das 12:00 às 20:00.
    
    CAMPINAS
    Sousas
    19 99161-4471
    
    Av. Antônio Carlos Couto de Barros, 475
    
    Platz Mall – Campinas – SP
    
     
    
    Segunda das 10:00 às 20:00.
    
    De Terça a Sábado das 08:30 às 21:00.
    
    Domingo das 10:00 às 17:00.
    
    CAMPINAS
    Taquaral
    19 3254-3162 (delivery)
    19 97407-1582
    
    Av. Julio Prestes, 451
    
    Campinas – SP
    
     
    
    De Segunda a Sábado das 08:00 às 19:00.
    
    Domingo e feriado das 08:00 às 16:00.
    
    CAMPINAS
    The Mall
    19 98290-0365 (Delivery)
    
    Rua Rute Ferraz de Angeliz, 886 – Quiosque 14
    
    Residencial Villa Bella – Campinas – SP
    
    13087-729
    
     
    
    De Segunda a Sábado das 09:00 às 21:00.
    
    Domingo das 09:00 às 17:00.
    
    CAMPO GRANDE
    Santa Fé
    67 3015-5116 (Delivery)
    67 99658-3982
    
    Av. Mato Grosso, 3211 – Sala 02
    
    Campo Grande – MS
    
     
    
    De Segunda a Sexta das 08:00 às 18:00.
    
    Sábado das 08:00 às 16:00.
    
    CAMPO LIMPO PAULISTA
    Centro
    11 4039-3483
    11 91603-6634
    
    Rua Nossa Senhora do Rosário, 156 – Centro
    
    Campo Limpo Paulista – SP
    
     
    
    De Segunda a Sábado das 10:00 às 18:00.
    
    Domingo das 09:00 às 13:00.
    
    CURITIBA
    Juvevê
    41 3209-5867
    41 99962-8546
    
    Av. João Gualberto, 1494
    
    Curitiba – PR
    
     
    
    De Segunda a Sexta das 09:00 às 19:00.
    
    Sábado das 09:00 às 18:00.
    
    Domingo e feriado das 09:00 às 17:00.
    
    CURITIBA
    Santa Felicidade
    41 3527-4223 (Delivery)
    41 99274-7263
    
    Av. Manoel Ribas, 6437
    
    Curitiba – PR
    
     
    
    De Segunda a Sexta das 09:00 às 19:00.
    
    Sábado das 09:00 às 18:00
    
    Domingo e feriado das 09:00 às 17:00.
    
    GUARULHOS
    Vila Gopoúva
    11 2656-2987
    1198434-9898
    
    Rua Cônego Valadão, 1394
    
    Guarulhos – SP
    
    De Segunda a Sábado das 08:00 às 20:00.
    
    Domingo e feriado das 10:00 às 19:00.
    
    INDAIATUBA
    Cidade Nova I
    19 3328-1500 (Delivery)
    19 99966-1660
    
    Av. Presidente Kennedy, 1417
    
    Indaiatuba – SP
    
     
    
    De Segunda a Sexta das 09:00 às 19:00.
    
    Sábado das 09:00 às 17:00.
    
    ITATIBA
    Centro
    11 4538-1166
    11 99736-6450
    
    Rua Rui Barbosa, 276
    
    Itatiba – SP
    
     
    
    De Segunda a Sexta das 10:00 às 19:00.
    
    Sábado e Domingo das 09:00 às 16:00
    
    ITUPEVA
    Jardim Vicente
    11 94519-2245
    
    Av. Itália, 395 – Loja 7
    
    Itupeva – SP
    
     
    
    De Segunda à Sábado das 07:00 às 19:00.
    
    Domingo das 08:00 às 17:00
    
    JUNDIAÍ
    Nove de Julho
    11 4807-1818
    11 99981-0018
    
    Av. 9 de Julho, 1900
    
    Jundiaí – SP
    
     
    
    De Segunda a Sábado das 07:00 às 19:00.
    
    Feriado das 07:00 às 14:00.
    
    JUNDIAÍ
    Vianelo
    11 4431-2062
    11 98494-0009
    
    Av. Doutor Odil Campos de Sáes, 305
    
    Jundiaí – SP
    
     
    
    De Segunda a Sábado das 08:00 às 18:00.
    
    Domingo das 08:00 às 13:00.
    
    LONDRINA
    Paraná
    43 3367-8508 (Delivery)
    43 97400-8808
    
    Av. Garibaldi Deliberador, 108
    
    Londrina – PR
    
     
    
    De Segunda a Sexta das 08:00 às 19:00.
    
    Sábado das 08:00 às 18:30.
    
    MANAUS
    Amazonas
    92 3029-5040 (Delivery)
    92 99305-5040
    
    Av. Jornalista Umberto Calderaro Filho, 1169 Loja 08
    
    Manaus – AM
    
     
    
    De Segunda a Sexta das 08:00 às 20:00.
    
    Sábado das 09:00 às 17:00.
    
    Domingo das 09:00 às 14:00.
    
    MARINGÁ
    Park Shopping
    44 3047-0122 (Delivery)
    44 99931-0589
    
    Av. São Paulo, 1099 – Loja 01 Subsl. 01
    
    Maringá – PR
    
     
    
    De Segunda a Sábado das 10:00 às 22:00.
    
    Domingo das 14:00 às 20:00.
    
    MARINGÁ
    Zona 04
    44 3020-0203 (Delivery)
    44 99738-0028
    
    Av. Dr. Luiz Teixeira Mendes, 1140
    
    Maringá – PR
    
     
    
    De Segunda a Sexta das 08:00 às 18:30.
    
    Sábado das 08:00 às 14:00.
    
    MOGI DAS CRUZES
    Brás Cubas
    11 2378-8044
    11 98947-3121
    
    Rua Dr. Deodato Wertheiner, 52
    
    Mogi das Cruzes – SP
    
     
    
    De Segunda a Sábado das 09:00 às 19:30.
    
    Domingo das 10:00 às 16:00.
    
    MOGI DAS CRUZES
    Centro
    11 91020-6899
    
    Av. Voluntário Fernando Pinheiro Franco, 388
    
    Mogi das Cruzes – SP
    
     
    
    De Segunda a Sábado das 08:00 às 20:00.
    
    Domingo das 10:00 às 16:00.
    
    MOGI DAS CRUZES
    Vila Oliveira
    11 4725-3128 (Delivery)
    11 99193-2785
    
    Rua Cruzeiro do Sul, 14
    
    Mogi das Cruzes – SP
    
     
    
    De Segunda a Sábado das 09:30 às 19:30.
    
    Domingo das 11:00 às 17:00.
    
    OSASCO
    Vila Yara
    11 4384-9106
    11 97627-6284
    
    Av. dos autonomistas, 896 – Loja 207
    
    Pátio Osasco Open Mall – Osasco – SP
    
     
    
    De Segunda a Sexta das 08:00 às 19:00.
    
    Sábado e Domingo das 09:00 às 18:00.
    
    PAULÍNIA
    Best Center
    19 3244-9241 (Delivery)
    19 99526-3859
    
    Av. José Paulino, 2279 – Loja 5 – Morumbi
    
    Paulínia – SP
    
     
    
    De Segunda a Sexta das 07:30 às 20:00.
    
    Sábado das 08:00 às 19:00.
    
    PIRACICABA
    Carlos Botelho
    19 3422-9781 (Delivery)
    19 99777-5320
    
    Av. Carlos Botelho, 462
    
    São Dimas – Piracicaba – SP
    
     
    
    De Segunda a Sábado das 08:00 às 19:00.
    
    Domingos e Feriados das 09:00 às 17:00.
    
    PIRACICABA
    Centro
    19 2533-0861 (Delivery)
    19 98388-0015
    
    Av. Armando Salles de Oliveira, 1467
    
    Verano Mall – Piracicaba – SP
    
     
    
    De Segunda a Sábado das 08:00 às 19:00.
    
    Domingo das 09:00 às 17:00.
    
    PIRACICABA
    Jardim Elite
    19 3371-5128 (Delivery)
    19 99706-6820
    
    Rua General Góes Monteiro, 314
    
    Jardim Elite – Piracicaba – SP
    
     
    
    De Segunda a Sábado das 08:00 às 19:00.
    
    Domingos e Feriados das 09:00 às 17:00.
    
    PIRACICABA
    Paulista
    19 3374-4625 (Delivery)
    19 99338-1922
    
    Rua do Rosário, 2521
    
    Paulista – Piracicaba – SP
    
     
    
    De Segunda a Sábado das 08:00 às 19:00.
    
    Domingos e Feriados das 09:00 às 17:00.
    
    PIRACICABA
    Vila Rezende
    19 3377-0424 (Delivery)
    19 97807-9520
    
    Av. Dona Francisca, 333 – loja 35
    
    Vila Rezende – Piracicaba – SP
    
    13405-259
    
     
    
    De Segunda a Sábado das 08:00 às 20:00.
    
    Domingos e Feriados das 08:00 às 17:00.
    
    RIO CLARO
    Cidade Jardim
    19 3534-0174
    19 99814-1087
    
    Av. 29, 874 – Loja 03
    
    Cidade Jardim – Rio Claro – SP
    
     
    
    De Segunda a Sábado das 08:00 às 19:00.
    
    Domingos e Feriados das 09:00 às 18:00.
    
    SALVADOR
    Pituba
    71 4101-0399
    71 98393-1007
    
    Av. Paulo VI, 1573 – loja 3
    
    Pituba – BA
    
     
    
    De Segunda a Sábado das 08:00 às 19:00.
    
    Domingos e Feriados das 11:00 às 17:00.
    
    SANTANA DO PARNAÍBA
    Burle Marx
    11 98876-4543
    
    Alameda Miró, 28 – Alphaville
    
    Santana de Parnaíba – SP
    
     
    
    De Segunda a Sábado das 09:00 às 18:00.
    
    SÃO BERNARDO
    Kennedy
    11 2381-9800 (Delivery)
    11 99253-4474
    
    Av. Kennedy, 66
    
    São Bernardo do Campo – SP
    
     
    
    De Segunda a Sexta das 09:00 às 19:00.
    
    Sábado das 09:00 às 18:00.
    
    Domingo das 09:00 às 15:00.
    
    Feriado das 10:00 às 16:00.
    
    SÃO JOSÉ DOS CAMPOS
    Vila Ema
    12 3921-2231 (Delivery)
    12 98197-8442
    
    Rua Madre Paula de São José, 76
    
    São José dos Campos – SP
    
     
    
    De Segunda a Sexta das 09:00 às 18:00.
    
    Sábado das 09:00 às 14:00.
    
    Feriado das 11:00 às 18:00.
    
    SÃO PAULO
    Aclimação
    11 2615-9541
    11 99012-9527
    
    Av. Lins de Vasconcelos, 1770 – Loja 4
    
    São Paulo – SP
    
     
    
    De Segunda a Sexta das 09:00 às 21:00.
    
    Sábado das 10:00 às 21:00.
    
    Domingo das 10:00 às 20:00.
    
    SÃO PAULO
    Bela Vista
    11 3288-7795 (Delivery)
    11 3288-7795
    
    Rua Martiniano de Carvalho, 1073
    
    Bela Vista – São Paulo – SP
    
     
    
    De Segunda a Sexta das 08:00 às 18:30.
    
    Sábado e Feriado das 09:00 às 17:00.
    
    SÃO PAULO
    Brooklin
    11 5505-9200 (Delivery)
    11 94164-6326
    
    Av. Padre Antônio José dos Santos, 1269
    
    São Paulo – SP
    
     
    
    Segunda a Sexta das 08:00 às 19:00
    
    Sábado e Feriado das 08:00 às 17:00
    
     
    
    SÃO PAULO
    Chácara Santo Antônio
    11 93926-4337 (Delivery)
    
    Rua Verbo Divino, 986 – Best Center
    
    São Paulo – SP
    
     
    
    De Segunda a Sexta das 07:45 às 19:00.
    
    Sábado das 09:30 às 17:30.
    
    Domingo das 11:00 às 16:30.
    
    SÃO PAULO
    Consolação
    11 2619-7578 (Delivery)
    11 95774-6072
    
    Rua Matias Aires, 414
    
    São Paulo – SP
    
     
    
    De Segunda a Sexta das 08:00 às 18:30.
    
    Sábado das 09:00 às 17:00.
    
    SÃO PAULO
    Granja Viana
    11 2898-2425 (Delivery)
    11 99206-6996
    
    Open Mall The Square – Piso Alameda Central
    
    Rod. Raposo Tavares, KM 22 – São Paulo – SP
    
     
    
    De Segunda a Sábado das 09:00 às 22:00.
    
    SÃO PAULO
    Higienópolis
    11 2339-3220 (Delivery)
    11 99567-5215
    
    Rua Baronesa de Itu, 402
    
    São Paulo – SP
    
     
    
    De Segunda a Sexta das 08:00 às 19:00.
    
    Sábado das 08:00 às 18:00.
    
    Domingo das 09:00 às 15:00.
    
    Feriado das 08:00 às 16:00
    
    SÃO PAULO
    Ipiranga
    11 3213-9117 (Delivery)
    11 94031-9080
    
    Rua Agostinho Gomes, 1492
    
    Espaço Comercial 05 – São Paulo – SP
    
     
    
    De Segunda a Sábado das 09:00 às 19:00.
    
    Domingo e Feriado das 08:00 às 13:00.
    
    SÃO PAULO
    Itaquera
    11 2368-2908
    11 99180-3859
    
    Rua Gregório Ramalho, 285
    
    São Paulo – SP
    
     
    
    De Segunda a Sábado das 09:00 às 19:00.
    
    Domingo das 10:00 às 16:00.
    
    SÃO PAULO
    Jardim Guedala
    11 3539-5720 (Delivery)
    11 97657-9844
    
    Rua dos Três Irmãos, 553
    
    São Paulo – SP
    
     
    
    De Segunda a Sexta das 09:00 às 20:00.
    
    Sábado das 09:00 às 18:00.
    
    Domingo das 09:00 às 14:00.
    
    SÃO PAULO
    Jardim São Paulo
    11 2950-3032
    11 91639-4816
    
    Av. Águas de São Pedro, 240
    
    Vila Paulicéia – São Paulo – SP
    
     
    
    De Segunda a Sábado das 09:00 às 19:00.
    
    Domingo das 10:00 às 18:00.
    
    SÃO PAULO
    Moema
    11 5096-0287 (Delivery)
    11 94195-2259
    
    Av. Moaci, 133 – Moema
    
    Próximo ao Shopping Ibirapuera
    
    São Paulo – SP
    
     
    
    De Segunda a Sexta das 09:00 às 19:00.
    
    Sábado das 09:00 às 17:00.
    
    SÃO PAULO
    Mooca
    11 91761-1414
    
    Rua Janguruçu, 26 – Parque da Mooca
    
    São Paulo – SP
    
     
    
    De Segunda a Sábado das 09:00 às 19:00.
    
    Domingo e feriado das 10:00 às 17:00.
    
    SÃO PAULO
    Morumbi Shopping
    11 96644-7979
    
    Av. Roque Petroni Júnior, 1089 – Loja 41
    
    Piso térreo – São Paulo – SP
    
     
    
    De Segunda a Sábado das 09:00 às 22:00.
    
    Domingo das 11:00 às 20:00.
    
    SÃO PAULO
    Morumbi Town Shopping
    11 3443-0469
    11 96482-0469
    
    Av. Giovanni Gronchi, 5930 – Loja 31 A
    
    Piso térreo – São Paulo – SP
    
     
    
    De Segunda a Sábado das 09:00 às 22:00.
    
    Domingo das 09:00 às 20:00.
    
    SÃO PAULO
    Panamby
    11 2503-7648 (Delivery)
    11 99901-2540
    
    Rua José Ramon Urtiza, 975 – Loja 5
    
    São Paulo – SP
    
     
    
    De Segunda a Sexta das 08:00 às 20:00.
    
    Sábado e Domingo das 08:00 às 18:00.
    
    Feriado das 08:00 às 16:00.
    
    SÃO PAULO
    Perdizes
    11 91232-9871
    
    Rua Itapicuru, 255
    
    São Paulo – SP
    
     
    
    De Segunda a Sábado das 08:00 às 19:00.
    
    Domingo das 09:00 às 16:00.
    
    SÃO PAULO
    Pompéia
    11 95031-1589
    
    Rua Caraíbas, 756
    
    São Paulo – SP
    
     
    
    De Segunda a Sábado das 08:00 às 20:00.
    
    Domingo das 09:00 às 16:00.
    
    SÃO PAULO
    Portal do Morumbi
    11 3742-7892
    11 94035-7561 (Delivery)
    
    AV. Doutor Guilherme Dumont Vilares, 693
    
    São Paulo – SP
    
     
    
    De Segunda a Sábado das 09:00 às 18:00.
    
    SÃO PAULO
    Shopping Eldorado
    11 93500-8679
    
    Av. Rebouças, 3970
    
    Pinheiros Shopping Eldorado – 1° Subsolo
    
    São Paulo – SP
    
     
    
    De Segunda a Sábado das 10:00 às 22:00.
    
    Domingo das 14:00 às 20:00.
    
    SÃO PAULO
    Shopping Frei Caneca
    11 99284-2821
    
    Rua Frei Caneca, 569
    
    São Paulo – SP
    
     
    
    De Segunda a Sexta das 08:30 às 20:00.
    
    Sábado das 09:00 às 19:30.
    
    Domingo das 10:00 às 18:30.
    
    SÃO PAULO
    Shopping Metrô Itaquera
    11 97690-0095
    
    Av. José Pinheiro borges – Quiosque 9
    
    Shopping Metrô Itaquera – São Paulo – SP
    
     
    
    De Segunda à Sábado das 10:00 às 22:00.
    
    Domingo das 14:00 às 20:00.
    
    SÃO PAULO
    Tatuapé
    11 2092-4692
    11 99652-1269
    
    Rua Itapura, 1529
    
    São Paulo – SP
    
     
    
    De Segunda a Sábado das 09:00 às 19:00.
    
    Domingo das 09:00 às 17:00.
    
    SÃO PAULO
    Vila Leopoldina
    11 3644-7766
    11 99945-0816
    
    Rua Paulo Franco, 70
    
    São Paulo – SP
    
     
    
    De Segunda a Sexta das 09:00 às 20:00.
    
    Sábado das 09:00 às 18:00.
    
    Domingo das 09:00 às 14:00.
    
    SÃO PAULO
    Vila Mariana
    11 4211-1181 (Delivery)
    11 98340-2569
    
    Rua Rio Grande, 104
    
    Vila Mariana – São Paulo – SP
    
     
    
    De Segunda a Sábado das 08:15 às 19:00.
    
    SÃO PAULO
    Vila Nova Conceição
    11 3842-6565 (Delivery)
    11 96860-8094
    
    Rua Comendador Miguel Calfat, 299
    
    Vila Nova Conceição – São Paulo – SP
    
     
    
    De Segunda a Sexta das 07:00 às 19:00
    
    Sábado e Domingo das 07:00 às 18:00
    
    Feriado das 08:00 às 16:00
    
    SOROCABA
    Centro
    15 3318-8646
    15 99113-0386
    
    Rua da Penha, 602
    
    Centro – Sorocaba – SP
    
     
    
    De Segunda a Sexta das 08:00 às 18:30.
    Sábado das 08:00 às 17:00.
    
    SUMARÉ
    Centro
    19 99118-3834
    
    Rua Dom Barreto 1439
    
    Centro, Sumaré – SP
    
     
    
    De segunda a sexta das 09:00 às 18:30.
    
    Sábado, domingo e feriado das 09:00 às 17:00.
    
    SUZANO
    Jardim dos Ipês
    11 2764-6300
    11 99274-0708
    
    Av. Armando Salles de Oliveira, 903
    
    Jardim dos Ipês, Suzano – SP
    
     
    
    De Segunda a Sábado das 09:00 às 19:30.
    
    Domingo das 10:00 às 16:00.
    
    VALINHOS
    Jardim Bissoto
    19 99719-9948 (Delivery)
    
    Av. dos Esportes, 827
    
    Valinhos – SP
    
     
    
    De Segunda a Sexta das 09:00 às 18:00.
    
    Sábado das 09:00 às 17:00.
    
    VÁRZEA PAULISTA
    Chácara Mall
    11 4596-3557 (Delivery)
    11 99815-2224
    
    Rua Paschoal Gianfrancesco, 60 – Loja 20
    
    Chácara Mall – Várzea Paulista – SP
    
     
    
    De Segunda a Sábado das 09:00 às 18:00.
    
    Domingo das 14:00 às 18:00.
    
    VINHEDO
    Open Mall
    19 3849-1206
    19 99719-9948
    
    Estrada da Boiada, 800 – Loja K
    
    Vinhedo – SP
    
     
    
    De Segunda a Sexta das 09:00 às 18:00.
    
    Sábado das 09:00 às 17:00.</p>