<p>Quem brincando no quintal numa tarde gostosa sentiu aquele cheiro delicioso de bolo no forno? <br>

    Seguido pela voz mais doce que, de repente, gritava ao longe “tá pronto” e todos corriam para a mesa com a boca cheia d’água?!
    Pois então, se existe uma lembrança comum a todos nós é o aroma irresistível de bolo quentinho vindo da cozinha. A Bolo da Madre
    nasceu da vontade das sócias Daniela Pelipas Schiavo e Fernanda Castanheda de resgatar essa memória afetiva que marcou a suas infâncias.
    Elas acreditam que o conforto de uma xícara de café e de um bolo de “vó” promovem encontros gostosos, pausas vagarosas, histórias, alegrias 
    e fortalecem as relações humanas. São mais de 70 sabores que resgataram do caderno de receitas de suas tias, mães e avós que com o principal 
    ingrediente afeto fizeram de suas tardes as melhores lembranças que tiveram na vida.</p>